/* ===============
  COMPONENT FEED-MENU
   =============== */

.c-feed-menu {
  background-color: $white-ter;
  padding: 1rem 1rem 1rem 3rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  @include tablet {
    padding: 2rem 1rem 4rem 1rem;
    margin: 0;
  }
  @include widescreen {
    padding: 2rem 1rem 4rem 3rem;
  }
}
.c-feed-menu__header {
  display: inline-block;
  font-size: 0.9rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid $black;

}
.c-feed__item {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.3rem 0;
  letter-spacing: 0.2em;
  > a {
    color: $black;
    &:hover {
      color: $grey;
    }
  }
  &.is-active {
    > a {
      color: $primary;
      &:hover {
        color: lighten($primary, 10%);
      }
      &:before {
        content: '–';
      }
    }
  }
}
