.c-ranking {
  overflow-y: auto;
  margin-bottom: 1.5rem;
}

.c-ranking__table {
  width: 100%;
  margin: 0;
  // table-layout: fixed;
  td {
    white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
    font-size: 0.6rem;
    vertical-align: baseline;
    @include widescreen {
      font-size: 0.7rem;
    }
  }
  td:nth-child(2) {
    font-size: 0.8rem;
    text-align: left;
    @include widescreen {
      font-size: 0.9rem;
    }
  }
  th:first-child {
    width: 1%;
  }
  td:first-child {
    font-size: 0.7rem;
    @include widescreen {
      font-size: 0.8rem;
    }
  }
  // th:nth-child(2) {
  //   width: 30%;
  // }
}
.c-ranking__head {
  tr {
    border-bottom: 0.3rem solid transparent;
  }
  th {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.6rem;
    @include widescreen {
      font-size: 0.8rem;
    }
  }
}

.c-ranking__row {

}
.c-ranking__row--toggle {
  font-weight: 700;
}
.c-ranking__row--cap {
  text-align: center;
}
.c-ranking__row--price {
  text-align: center;
}
.c-ranking__row--change {
  text-align: right;
}

.c-ranking__currency {
  display: inline-block;
  height: 1em;
  width: 1em;
}

.c-ranking__toggle {
  cursor: pointer;
  vertical-align: text-bottom;
  color: lightgrey;
}

.c-ranking__toggle--alert.is-active {
  color: #80ce5e;
}

.c-ranking__toggle--fav.is-active {
  color: #80ce5e;
}
