/* ===============
  COMPONENT TRACK
   =============== */

.c-track__header {
  margin-bottom: 3rem;
  text-align: center;
  @include desktop {
    text-align: inherit;
  }
}

.c-track__header-green {
  background-color: $primary;
  padding: 1rem;
  position: relative;
  margin-bottom: 0.5rem;
  &::after {
    content: '';
    position: absolute;
    left: calc(50% - 2rem);
    top: 100%;
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 2rem solid $primary;
    z-index: -1;
    @include desktop {
      left: 5%;
    }
  }
  @include mobile {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
.c-track__header-title {
  @include desktop {
    margin-bottom: 0 !important;
  }
}
.c-track__header-subtitle {
  @include desktop {
    position: absolute;
    bottom: -1.5rem;
    right: 0.5rem;
  }
}

.c-track__more {
  margin-bottom: 1rem;
  text-align: center;
  a {
    color: $black;
    &:hover {
      color: $grey;
    }
  }
  @include tablet {
    // display: none;
    text-align: left;
  }
}

.c-track__top {
  @include mobile {
    text-align: center;
  }
}
